<div>
  <h1>TO-DO List</h1>

  <!-- Input field to add new tasks -->
  <div>
    <input type="text" [(ngModel)]="newTask" placeholder="New Task" />
    <button (click)="addTask()">add</button>
  </div>

  <h2>List to do:</h2>
  <ul>
    <li *ngFor="let item of todoItems; let i = index">
      <input type="checkbox" [(ngModel)]="item.completed" (ngModelChange)="updateCompletedItems()" /> {{ item.name }}
      <button (click)="deleteTask(i)">delete</button>
      <ul *ngIf="item.completed">
        <li *ngFor="let subtask of item.subtasks">{{ subtask }}</li>
      </ul>
    </li>
  </ul>

  <h2>Tasks completed:</h2>
  <ul>
    <li *ngFor="let item of completedItems; let i = index">
      {{ item.name }}
      <button (click)="deleteCompletedTask(i)">delete</button>
      <ul>
        <li *ngFor="let subtask of item.subtasks">{{ subtask }}</li>
      </ul>
    </li>
  </ul>
</div>
